html {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 1.3vw;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html * {
  box-sizing: border-box;
  text-align: center;
}

body {
  margin: 0;
  padding: 0;
}

main {
  order: 1;
  padding: 0 3%;
}

section {
  width: 100%;
  margin: 0 0 3em 0;
}

h1 {
  font-weight: 300;
  font-size: 3.5em;
  margin: 2em 0 0.2em 0;
}

.dates {
  font-style: italic;
  margin-bottom: 0.5em;
}

.ribbon img {
  height: 6em;
  margin: 1em;
}

.epitaph {
  font-family: "PT Serif", serif;
  font-size: 1.5em;
  font-style: italic;
}

@media only screen and (min-width: 1200px) {
  html {
    font-size: 15.6px;
  }
  body {
    max-width: 1000px;
    margin: 15px auto;
  }
  sidebar {
    margin-top: 3em;
  }
  .skills .items {
    height: 48vw;
  }
  sidebar {
    margin-top: 0;
  }
  .skills .items {
    display: flex;
    flex-flow: column wrap;
    height: 396px;
  }
}
@media only screen and (max-width: 1200px) {
  body {
    max-width: 90%;
    margin: 0 auto;
    font-size: 1.5vw;
  }
}

@media only screen and (max-width: 640px) {
  body {
    font-size: 2vw;
  }
}
@media only screen and (max-width: 440px) {
  body {
    font-size: 3vw;
  }
}
@media (prefers-color-scheme: light) {
  html {
    background: white;
  }
  body {
    background: white;
    color: black;
  }
}
@media (prefers-color-scheme: dark) {
  html {
    background: black;
  }
  body {
    color: white;
  }
}
@media print {
  body {
    background: white;
    color: black;
  }
}
